sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

*~backup-*
.c9revisions
.c9
.git
.svn
.bzr
.cdv
~.dep
~.dot
~.nib
~.plst
.hg
.pc
/dev

.DS_Store
.AppleDouble
.LSOverride
Icon

._*
.tmp
*.log
*.pem
*.key

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# composer
vendor/
/web